---
import type { Props } from "@astrojs/starlight/props";
import { MenuData } from "../constants";
---

<section>
  <div class="flex flex-row gap-4">
    {
      MenuData.map((menu) => {
        return (
          <div class="dropdown">
            <button class="dropdown-button">
              {menu?.link ? (
                <a href={menu.link} class="no-underline">
                  {menu.label}
                </a>
              ) : (
                <>{menu.label}</>
              )}
            </button>

            {menu?.items && (
              <div class="dropdown-content">
                {(menu?.items ?? []).map((item) => (
                  <a href={item.link}>{item.label}</a>
                ))}
              </div>
            )}
          </div>
        );
      })
    }
  </div>
</section>

<style>
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-button {
    padding: 8px;
    border-radius: 0.375rem;
    border: none;
    cursor: pointer;
    background-color: var(--sl-color-bg-nav);
  }
  .dropdown-button {
    color: var(--sl-color-white);
  }

  .dropdown-button a {
    color: inherit;
  }

  .dropdown-button:hover {
    border-radius: 0.375rem;
    color: var(--sl-color-text-invert);
    background-color: var(--sl-color-text-accent);
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--sl-color-bg-sidebar);
    min-width: 12rem;
    border-radius: 0.375rem;
    border: 1px solid var(--sl-color-gray-5);
    z-index: 1;
  }

  .dropdown-content a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    cursor: pointer;
    /* 优化 */
    border-radius: 0.3rem;
    color: inherit;
  }

  .dropdown-content a:hover {
    color: var(--sl-color-text-invert);
    background-color: var(--sl-color-text-accent);
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
</style>
