---
import { TableData } from "../constants";
import TableCardElement from "./TableCardElement";
---

<div class="not-content flex flex-col gap-12 items-center">
  {
    TableData.map((item) => (
      <div class="w-full grid xl:grid-cols-10 grid-cols-3 gap-4 items-center">
        <div class="xl:col-span-4 col-span-1">
          <div class="flex flex-row flex-wrap justify-end gap-4 items-center">
            {item.left.map((it) => (
              <TableCardElement
                className="hover:scale-[1.5]"
                label={it.label}
                href={it.href}
                style={{ background: it.color }}
              />
            ))}
          </div>
        </div>
        <div class="xl:col-span-2 col-span-1 h-full">
          <div
            class="flex justify-center items-center h-full w-full rounded-lg border"
            style={{
              background: item.color,
            }}
          >
            <span class="text-black text-center">{item.title}</span>
          </div>
        </div>
        <div class="xl:col-span-4 col-span-1">
          <div class="flex flex-row flex-wrap gap-4 items-center">
            {item.right.map((it) => (
              <TableCardElement
                className="hover:scale-[1.5]"
                label={it.label}
                href={it.href}
                style={{ background: it.color }}
              />
            ))}
          </div>
        </div>
      </div>
    ))
  }
</div>
