---
import { TableData } from "../constants";
import TableCardElement from "./TableCardElement";
---

<div class="not-content flex flex-col gap-4 items-center">
  {
    TableData.map((item) => (
      <div class="w-full grid grid-cols-12 gap-4 items-center">
        <div class="col-span-6">
          <div class="flex flex-row justify-end gap-4 items-center">
            {item.left.map((it) => (
              <TableCardElement
                label={it.label}
                href={it.href}
                style={{ background: it.color }}
              />
            ))}
          </div>
        </div>
        <div class="col-start-7 col-span-1 h-full">
          <div
            class="flex justify-center items-center w-24 h-24"
            style={{ background: item.color }}
          >
            <span class="text-white">{item.title}</span>
          </div>
        </div>
        <div class="col-span-4">
          <div class="flex flex-row gap-4 items-center">
            {item.right.map((it) => (
              <TableCardElement
                label={it.label}
                href={it.href}
                style={{ background: it.color }}
              />
            ))}
          </div>
        </div>
      </div>
    ))
  }
</div>
./TableCardElement
